
.todo-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: #333;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    color: #333;
    font-weight: bold;
}

.todo-input button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-input button:hover {
    background-color: #218838;
}

.todo-list {
    list-style: none;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    border-radius: 20px;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.todo-list li.completed span {
    text-decoration: line-through;
    color: #ffffff;
}

.todo-list li button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.todo-list li button:hover {
    background-color: #c82333;
}

.delete-box {
    margin-top: 20px;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.delete-box:hover {
    background-color: #c82333;
}

.delete-box:active {
    transform: scale(0.95);
}
